.sm-introduce-right{
    background-color: #3b065e;
    height: 100%;
    margin-top: 10%;
}

.sm-introduce-right-text{
    color: white;
}

.sm-introduce-body{
    padding-top:50px !important;
    background-color: #3b065e
}